<h2>Geographic Listening Patterns</h2>
<div class="row">
	<div class="col-xs-4">
		<img src="img/listening.png" />
	</div>
	<div class="col-xs-6">
		<p>This website displays data about bands and where they are located<p>
		<p>The page uses multiple APIs to get information about musicians. It can connect to a Last.fm username to display where their top artists are from. This feature uses to Last.fm API to get the user data, and the musicbrainz API to get artist locations. 
		The other feature connects to the spotify API so you can search keywords to see in which locations these keywords are used the most in song names or band names. This also uses the musicbrainz API to get the location of the artist</p>
		<p><a class="btn" href="http://students.washington.edu/alw34/info343/listeningPatterns/">Click Here to view page</a></p>
	</div>
</div>