<h2>Mike Freeman Review</h2>

<div class="row">
	<div class="col-xs-4">
		<img src="img/review.png" />
	</div>
	<div class="col-xs-6">
		<p>This is a website that mimic's popular professor rating sites. And shows fictional reviews for Mike Freeman</p>
		<p>This website's main feature is the ability to add reviews and upvote/downvote reviews. The data is stored in Parse and accesses using Javascript/Jquery</p>
		<p><a class="btn" href="http://students.washington.edu/alw34/info343/Review/Reviews/">Click Here to view page</a></p>
	</div>
</div>